* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-header h2 {
  margin: 0;
}

.search {
  margin-top: 10px;
}

.search input[type="text"] {
  width: 40%;
  min-width: 200px;
  height: 30px;
}

.search input[type="submit"] {
  margin-left: 10px;
  height: 30px;
  border: solid 1px;
  cursor: pointer;
}

.search input[type="submit"]:hover {
  background-color: #282c34;
  color: antiquewhite;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.movie {
  padding: 5px 25px 10px 25px;
  min-width: 25%;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}
